<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

#### Some of the open source development environment tools
|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|   Jupyter lab    |
|     RStudio      |

#### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
x = 200  # 200 minutes
y = 60   # 1 hour = 60 minutes
hours = x/y
print(round(hours,2))

3.33

**Objectives:**

- Python
- R
- SQL
- java
- Scala

## Author
Suman Mazumder